# Virtual environments
venv/
.venv/
ENV/

# Python files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Large data files
*.pkl
*.pickle
*.h5
*.model

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/